*{
    margin: 0;
    padding: 0;
}

/*common class*/

body{
    background-color: white;
}

.btn{
    padding: 16px, 12px;
    display: flex;
    border-radius: 8px;
    align-items: center;
    gap: 8px;
    background-color: #30B868;
    color: rgba(255, 255, 255, 1);
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 16px 120px;
}

.container{
    background-color: white;
    display: flex;
    justify-content: space-between;

}
.link-parent{
    display: flex;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
 
}
.link-parent a{
    text-decoration: none;
    color: black;
}