*{
    margin: 0;
    padding: 0;
}
 body{
    background-color: white;
    font-family: 'Inter', sans-serif;
 }
.parent{
    max-width: 1400px;
    margin: 0 auto;
}

.btn1{
    padding: 10px 40px;
    display: flex;
    border-radius: 8px;
    align-items: center;
    gap: 8px;
    background-color: #30B868;
    border: none;
    cursor: pointer;
}
.btn-text{
    color: white;
    font-weight: 500;
}
.hero-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

}
.btn2{
    padding: 12px 16px;
    background-color: #30B868;
    border: none;
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 8px;
    cursor: pointer;
}
.btn2{
    color: white;
    font-weight: 600;
}
.btn3{
    padding: 12px 16px;
    background: transparent;
    color: white;
    border: 1px solid white;
    font-weight: 600;
    cursor: pointer
}



nav{
    display: flex;
    padding: 16px 12px;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}
.parent{
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.link-parent{
    display: flex;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
 
}
.link-parent a{
    text-decoration: none;
    color: black;
}

.hero-parent{
    background-image: url(assets/hero-bg.png);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
    padding: 20px;
    height: 80vh;
}

.hero-content{
    max-width: 650px;
    padding: 25px;
    border-radius: 8px;
    gap: 16px;
    align-items: center;
}

.hero-tag{
    position: relative;
    display: inline-block;
    padding: 3px 12px 3px 12px;
    background-color: white;
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    border-radius: 20px;
    line-height: 1;
    gap: 16px;
    margin-bottom: 16px;
}


.hero-content h1{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 16px;
    color: white;
}
.hero-content h1 span{
    color: rgba(48, 184, 104, 1);
}
.hero-content p{
    font-size: 16px;
    font-weight: 400;
    gap: 16px;
    color: white;
    margin-bottom: 20px;
}
.hero-image{
    width: 480px;
    border-radius: 14px;
}

.note-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 58px 120px 120px 120px;
    margin: 0 auto;
    gap: 44px;
    background-color: #fbfbfb;
}
.note-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

}
.note-card{
    display: flex;
    justify-content: center;
    gap: 24px;
    height: 300px;
}
.note-cards card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    text-align: center;
    border-radius: 8px;
    
}


.solution-parent{
    padding: 120px;
}
.solution-content{
    display: flex;
    justify-content: flex-start;
    gap: 60px;
}
.solution-bg{
    width: 600px;
    height: 600px;
    border-radius: 12px;
}
.solution-text{
    width: 700px;
    height: 396px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 102px;
    margin-bottom: 40px;
}
.solution-text1{
    width: 700px;
    height: 228px;
}
.solution-text1 h4{
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}
.solution-text1 h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}
.solution-text1 p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}
.solution-text2{
    width: 700px;
    height: 128px;
}
.solution-text2 h5{
    color: #001931;
    margin: 16px;
    display: flex;
    align-items: center;
    gap: 6px;

}

.ready-parent{
    width: 1660px;
    margin: 0 auto;
    padding: 0px 120px 120px 120px 120px;
}
.ready-content{
   padding: 40px 80px;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   flex-direction: column;
   background-color: rgba(247, 246, 242, 1);
   border-radius: 12px;
   gap: 24px;
}
.ready-content .ready-text{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.ready-content .ready-btn{
    margin: 0 auto;
    gap: 16px;
}


footer{
    max-width: 1600px;
    margin: 0 auto;
    padding: 120px 120px 30px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    background-color: rgba(0, 25, 49, 1);
}
.footer-parent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f8fafc;
}
.logo-bg{
    width: 140px;
}

.footer-socials{
     display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer-socials p{
    font-size: 20px;
    font-weight: 500;
    color: antiquewhite;
}

.logo .icons{
    display: flex;
    gap: 16px;

}
.logo .icons img{
    width: 16px;
    cursor: pointer;
}
footer .copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 30px;
    border-top: 1px solid #2e4256;
    color: #f8fafc;
    font-size: 16px;
    font-weight: 400;
}