*{
    margin: 0;
    padding: 0;
}
 body{
    background-color: white;
    font-family: 'Inter', sans-serif;
 }
.parent{
    max-width: 1400px;
    margin: 0 auto;
}

.btn1{
    padding: 10px 40px;
    display: flex;
    border-radius: 8px;
    align-items: center;
    gap: 8px;
    background-color: #30B868;
    border: none;
    cursor: pointer;
}
.btn-text{
    color: white;
    font-weight: 500;
}
.hero-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

}
.btn2{
    padding: 12px 16px;
    background-color: #30B868;
    border: none;
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 8px;
    cursor: pointer;
}
.btn2{
    color: white;
    font-weight: 600;
}
.btn3{
    padding: 12px 16px;
    background: transparent;
    color: white;
    border: 1px solid white;
    font-weight: 600;
    cursor: pointer
}



nav{
    display: flex;
    padding: 16px 12px;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}
.parent{
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.link-parent{
    display: flex;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
 
}
.link-parent a{
    text-decoration: none;
    color: black;
}

.hero-parent{
    background-image: url(/assets/hero-bg.png);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
    padding: 20px;
    height: 80vh;
}

.hero-content{
    max-width: 650px;
    padding: 25px;
    border-radius: 8px;
    gap: 16px;
    align-items: center;
}

.hero-tag{
    position: relative;
    display: inline-block;
    padding: 3px 12px 3px 12px;
    background-color: white;
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    border-radius: 20px;
    line-height: 1;
    gap: 16px;
    margin-bottom: 16px;
}


.hero-content h1{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 16px;
    color: white;
}
.hero-content h1 span{
    color: rgba(48, 184, 104, 1);
}
.hero-content p{
    font-size: 16px;
    font-weight: 400;
    gap: 16px;
    color: white;
    margin-bottom: 20px;
}
.hero-image{
    width: 480px;
    border-radius: 14px;
}