*{
    margin: 0;
    padding: 0;
}
 body{
    background-color: white;
 }
.parent{
    max-width: 1400px;
    margin: 0 auto;
}

.btn{
    padding: 12px 16px;
    display: flex;
    border-radius: 8px;
    align-items: center;
    gap: 8px;
    background-color: #30B868;
}
.btn-text{
    color: white;
    font-weight: 500;
}

nav{
    display: flex;
    padding: 16px 12px;
    justify-content: space-between;
    align-items: center;
}
.parent{
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.link-parent{
    display: flex;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
 
}
.link-parent a{
    text-decoration: none;
    color: black;
}